/* _content/ExpenseTracker.Web/Views/Shared/_AuthLayout.cshtml.rz.scp.css */
*[b-hs0p5gjh7x],
*[b-hs0p5gjh7x]::before,
*[b-hs0p5gjh7x]::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container[b-hs0p5gjh7x]{
    min-width: 100vw;
    min-height: 100vh;
    background: green;
    display: grid;
    place-items: center;
}
/* _content/ExpenseTracker.Web/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-2ic5z5df0l] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-2ic5z5df0l] {
  color: #0077cc;
}

.btn-primary[b-2ic5z5df0l] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-2ic5z5df0l], .nav-pills .show > .nav-link[b-2ic5z5df0l] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-2ic5z5df0l] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-2ic5z5df0l] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-2ic5z5df0l] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-2ic5z5df0l] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-2ic5z5df0l] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
