@using ExpenseTracker.Data
@model TransactionCreateViewModel

@{
}

<h1>Add Transaction</h1>
<form method="post" asp-controller="Transactions" asp-action="Create">
    <input type="hidden" asp-for="CreatedBy" value="@(User)">
    <div>
        <label asp-for="Amount"></label>
        <input asp-for="Amount">
        <span asp-validation-for="Amount"></span>
    </div>
    <div>
        <label asp-for="TransactionType"></label>
        <select asp-for="TransactionType" asp-items="Html.GetEnumSelectList<TransactionType>()">
            <option value="">Select a Transaction Type</option>
        </select>
        <span asp-validation-for="TransactionType"></span>
    </div>
    
    <div>
        <label asp-for="TransactionCategoryId"></label>
        <select asp-for="TransactionCategoryId">
            <option value="">Select a Category</option>
            @if (Model.Categories?.Count > 0)
            {
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
        <a asp-controller="TransactionCategory" asp-action="Create">Add a category</a>
        <span asp-validation-for="TransactionCategoryId"></span>
    </div>
    <div>
        <label asp-for="CreatedAt"></label>
        <input asp-for="CreatedAt">
        <span asp-validation-for="CreatedAt"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" type="text" data-val-required="false" value="@Model.Description">
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <button type="submit">Submit</button>
        <button type="reset">Reset form</button>
    </div>
</form>