@using ExpenseTracker.Data
@model CreateTransactionViewModel

@{
}

<h1>Add Transaction</h1>
<form action="">
    <div>
        <label for="">Amount</label>
        <input type="text">
    </div>
    <div>
        <label asp-for="TransactionType"></label>
        <select asp-for="TransactionType" asp-items="Html.GetEnumSelectList<TransactionType>()">
            <option value="">Select a Transaction Type</option>
        </select>
    </div>
    
    <div>
        <label asp-for="TransactionCategoryId"></label>
        <select asp-for="TransactionCategoryId">
            <option value="">Select a Category</option>
            @if (Model.Categories?.Count > 0)
            {
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
        <a asp-controller="TransactionCategory" asp-action="Create">Add a category</a>
        
    </div>
    <div>
        <label asp-for="CreatedAt"></label>
        <input asp-for="CreatedAt">
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description">
    </div>
    <div>
        <button type="submit">Submit</button>
        <button type="reset">Reset form</button>
    </div>
</form>