*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-container {
  min-width: 100vw;
  min-height: 100vh;
  background: green;
  display: grid;
  place-items: center;
}